{% comment %} {% load static %} {% endcomment %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Document</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
  </head>
  <body>
    <div>
        {% comment %} {% for task in tasks %}
            <li>{{task.task.title}}</li>
            <span>{{task.priority}}</span>
        {% endfor %} {% endcomment %}
         {% for task in tasks %}
            <li>{{task.task.title}}</li>
            <li>{{task.assigned_to}}</li>
         {% endfor %}
    </div>
  </body>
</html>